.booking-container {
	max-width: 900px;
	padding: 20px;
	margin: auto;

	.booking {
		.locations {
			display: flex;
			justify-content: space-between;
			padding: 20px 0;

			.booking-from,
			.booking-to {
				label {
					font-size: 0.8rem;
				}

				.booking-from-box,
				.booking-to-box {
					width: 300px;
					border: 1px solid #ccc;
					box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
						0 2px 4px 1px rgba(0, 0, 0, 0.2);

					input {
						width: 100%;
						height: 100%;
						padding: 10px;
						border: none;
						outline: none;
						font-size: 1rem;
					}

					hr {
						position: relative;
						top: 2px;
						width: 95%;
						height: 1px;
						margin: auto;
						border: none;
						background-color: #ccc;
					}

					li {
						padding: 10px;
						font-size: 1rem;
						cursor: pointer;

						&:hover {
							background-color: #eee;
						}
					}
				}
			}
		}

		.dates {
			display: flex;
			justify-content: space-between;
			padding: 20px 0;

			label {
				font-size: 0.8rem;
			}

			.departure-date,
			.return-date {
				display: flex;
				width: 300px;
				height: 40px;
				padding: 10px;
				border: 1px solid #ccc;
				box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
					0 2px 4px 1px rgba(0, 0, 0, 0.2);
				font-size: 1rem;
				outline: none;
			}
		}

		.options {
			display: flex;
			justify-content: flex-start;
			padding: 20px 0;

			.use-miles,
			.one-way {
				display: flex;
				padding-right: 20px;
			}

			input[type='checkbox'] {
				display: grid;
				place-content: center;
				width: 1.5em;
				height: 1.5em;
				margin-right: 10px;
				border: 0.15em solid #ccc;
				border-radius: 0.15em;
				appearance: none;
				background-color: #fff;
				transform: translateY(-0.075em);
				-webkit-appearance: none;
				cursor: pointer;

				&::before {
					content: '';
					width: 12px;
					height: 12px;
					transform: scale(0);
					box-shadow: inset 12px 12px $primary-color;
					clip-path: polygon(
						14% 44%,
						0 65%,
						50% 100%,
						100% 16%,
						80% 0%,
						43% 62%
					);
				}

				&:checked::before {
					transform: scale(1);
				}
			}
		}
	}

	.lower-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
