.footer {
	padding: 50px;
	background-color: $secondary-color;

	.links {
		display: flex;
		justify-content: space-between;
		padding: 20px 0 70px;

		h3 {
			padding: 20px 0;
			font-weight: 400;
			color: $primary-color;
		}

		li {
			padding: 5px 0;
		}

		.footer-link {
			color: #fff;

			&:hover {
				color: #ccc;
			}
		}
	}

	hr {
		height: 1px;
		border: none;
		background-color: #555;
	}

	.copyright {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0 10px;
	}

	.icons {
		display: flex;
		align-items: center;
	}

	.github-icon,
	.linkedin-icon {
		margin: 0 4px;
	}

	small {
		font-size: 0.7rem;
		color: #fff;
	}
}
