.home-promo {
	height: 80vh;
	background-image: url('../../assets/images/promo-1.jpeg');
	background-size: cover;
	background-repeat: no-repeat;

	h2 {
		padding: 100px 0 50px;
		font-size: 3.5rem;
		color: $primary-color;
		font-weight: 700;
	}
}
