.navbar {
	background-color: $secondary-color;

	.menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		display: flex;
		align-items: center;

		a {
			margin: 0 20px;
			font-size: 2rem;
			color: #fff;
		}
	}

	ul {
		display: flex;
		justify-content: space-between;
		padding: 20px;
		overflow: hidden;
		background-color: $secondary-color;
	}

	li {
		float: left;

		.link {
			display: block;
			text-align: center;
			padding: 14px 16px;
			color: white;
		}

		.link:before {
			content: '';
			position: absolute;
			top: 65px;
			width: 0px;
			height: 3px;
			background-color: $primary-color;
			transition: width 0.3s ease-out;
		}

		.link:hover::before,
		.link.current::before {
			content: '';
			position: absolute;
			top: 65px;
			height: 3px;
			background-color: $primary-color;
		}

		.home-size:hover::before,
		.home-size.current::before {
			width: 52px;
		}
		.book-size:hover::before,
		.book-size.current::before {
			width: 45px;
		}
		.about-size:hover::before,
		.about-size.current::before {
			width: 52px;
		}
		.sign-up-size:hover::before,
		.sign-up-size.current::before {
			width: 65px;
		}
		.sign-in-size:hover::before,
		.sign-in-size.current::before {
			width: 58px;
		}
	}
}
