@mixin btn {
	display: inline-block;
	border: none;
	border-radius: 5px;
	background-color: $primary-color;
	color: #fff;
	cursor: pointer;

	&:hover {
		background-color: #d83940;
	}

	&:active {
		transform: scale(0.98);
	}
}

.btn-lg {
	@include btn;
	padding: 20px 30px;
	font-size: 1.1rem;
	font-weight: 600;
}

.btn-md {
	@include btn;
	padding: 10px 15px;
	font-size: 1rem;
	font-weight: 400;
}
