// Form inputs
.form {
	.form-section {
		padding: 20px 0;
		border: none;
		outline: none;
		font-size: 1rem;
		position: relative;

		.form-control {
			width: 300px;
			height: 50px;
			padding: 20px;
			border: 1px solid #bbb;
			outline: none;
			font-size: 1rem;
		}

		.form-label {
			position: absolute;
			top: 35px;
			left: 20px;
			color: #888;
			transition: all 0.1s ease-in-out;
		}
	}

	.form-section.active {
		.form-label {
			transform: translate(-20px, -30px);
			font-size: 0.7rem;
		}
	}

	.options {
		display: flex;
		justify-content: flex-start;
		padding: 20px 0;
		font-size: 0.8rem;

		label {
			width: 280px;
			color: #888;
		}

		.conditions-link {
			color: #888;
			text-decoration: underline;

			&:hover {
				color: $primary-color;
				text-decoration: none;
			}
		}
	}

	.btn-md {
		margin-top: 25px;
	}
}

// Checkboxes
.checkbox {
	display: flex;
}

input[type='checkbox'] {
	display: grid;
	place-content: center;
	width: 1.5em;
	height: 1.5em;
	margin-right: 10px;
	border: 0.15em solid #ccc;
	border-radius: 0.15em;
	appearance: none;
	background-color: #fff;
	transform: translateY(-0.075em);
	-webkit-appearance: none;
	cursor: pointer;

	&::before {
		content: '';
		width: 12px;
		height: 12px;
		transform: scale(0);
		box-shadow: inset 12px 12px $primary-color;
		clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	}

	&:checked::before {
		transform: scale(1);
	}
}
