@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $font-stack;
	text-decoration: none;
}

body {
	background-color: #fafafa;
}

.container {
	max-width: 1200px;
	margin: auto;
}

ul {
	list-style-type: none;
}
