@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

$font-stack: 'Montserrat', sans-serif;
$primary-color: #ef4540;
$secondary-color: #16161d;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: $font-stack;
}

body {
	background-color: #fafafa;
}

.container {
	max-width: 1200px;
	margin: auto;
}

// Navbar -----
.navbar {
	background-color: $secondary-color;

	.menu {
		display: flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		display: flex;
		align-items: center;
	}

	.logo a {
		color: #fff;
		font-size: 2rem;
		margin: 0 20px;
	}

	ul {
		list-style-type: none;
		overflow: hidden;
		background-color: $secondary-color;
		padding: 20px;
		display: flex;
		justify-content: space-between;
	}

	li {
		float: left;
	}

	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
	}

	li a.current::before {
		content: '';
		background-color: #ef4540;
		position: absolute;
		top: 65px;
		height: 3px;
		width: 50px;
	}

	li a:before {
		content: '';
		background-color: #ef4540;
		position: absolute;
		top: 65px;
		height: 3px;
		width: 0px;
		transition: width 0.3s ease-out;
	}

	li a:hover::before {
		content: '';
		background-color: #ef4540;
		position: absolute;
		top: 65px;
		height: 3px;
		width: 50px;
	}
}

// Booking -----
.booking-container {
	padding: 20px;
	max-width: 900px;
	margin: auto;

	.booking {
		.locations {
			padding: 20px 0;
			display: flex;
			justify-content: space-between;
			.booking-from,
			.booking-to {
				label {
					font-size: 0.8rem;
				}

				.booking-from-box,
				.booking-to-box {
					border: 1px solid #ccc;
					box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
						0 2px 4px 1px rgba(0, 0, 0, 0.2);
					width: 300px;

					input {
						border: none;
						width: 100%;
						height: 100%;
						padding: 10px;
						outline: none;
						font-size: 1rem;
					}

					hr {
						position: relative;
						top: 2px;
						width: 95%;
						margin: auto;
						height: 1px;
						background-color: #ccc;
						border: none;
					}

					ul li {
						list-style: none;
						padding: 10px;
						cursor: pointer;
						font-size: 1rem;
					}

					ul li:hover {
						background-color: #eee;
					}
				}
			}
		}

		.dates {
			padding: 20px 0;
			display: flex;
			justify-content: space-between;

			label {
				font-size: 0.8rem;
			}

			.departure-date,
			.return-date {
				border: 1px solid #ccc;
				box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
					0 2px 4px 1px rgba(0, 0, 0, 0.2);
				width: 300px;
				height: 40px;
				outline: none;
				font-size: 1rem;
				padding: 10px;
				display: flex;
			}
		}
		.options {
			padding: 20px 0;
			display: flex;
			justify-content: flex-start;

			.use-miles,
			.one-way {
				display: flex;
				padding-right: 20px;
			}

			input[type='checkbox'] {
				-webkit-appearance: none;
				appearance: none;
				background-color: #fff;
				margin-right: 10px;
				width: 1.5em;
				height: 1.5em;
				border: 0.15em solid #ccc;
				border-radius: 0.15em;
				transform: translateY(-0.075em);
				cursor: pointer;
				display: grid;
				place-content: center;
			}

			input[type='checkbox']::before {
				content: '';
				width: 12px;
				height: 12px;
				transform: scale(0);
				box-shadow: inset 12px 12px $primary-color;
				clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
			}

			input[type='checkbox']:checked::before {
				transform: scale(1);
			}
		}

		.search-flights {
			background-color: $primary-color;
			border: none;
			border-radius: 5px;
			padding: 10px;
			width: 100px;
			height: 40px;
			color: #fff;
			cursor: pointer;
		}
		.search-flights:hover {
			background-color: #d83940;
		}
		.search-flights:active {
			transform: scale(0.98);
		}
	}

	.lower-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

// HomePromo -----
.home-promo {
	height: 80vh;
	background-image: url('./assets/images/promo-1.jpeg');
	background-size: cover;
	background-repeat: no-repeat;

	h2 {
		padding: 100px 0 40px;
		font-size: 4rem;
		color: $primary-color;
		font-weight: 700;
	}

	button {
		background-color: $primary-color;
		border: none;
		border-radius: 5px;
		padding: 10px;
		width: 200px;
		height: 60px;
		cursor: pointer;

		a {
			color: #fff;
			font-size: 1rem;
			font-weight: 600;
		}
	}
}

// Footer -----
.footer {
	background-color: $secondary-color;
	padding: 50px;

	.links {
		display: flex;
		justify-content: space-between;
		padding: 20px 0 70px;

		h3 {
			color: $primary-color;

			font-weight: 400;
			padding: 20px 0;
		}

		li {
			list-style-type: none;
			padding: 5px 0;
		}

		a {
			color: #fff;
		}

		a:hover {
			color: #ccc;
		}
	}

	hr {
		height: 1px;
		background-color: #555;
		border: none;
	}

	.copyright {
		padding: 30px 0 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.icons {
		display: flex;
		align-items: center;
	}

	.github-icon,
	.linkedin-icon {
		margin: 0 4px;
	}

	small {
		font-size: 0.7rem;
		color: #fff;
	}
}
